html, body {
  margin:0px;
}

h1{
  font-size: 60px;
  color: #46A16E;
}

h2{
  font-size: 28px;
  font-weight: 400;
}

h3{
  font-weight: 100 !important;
}

.sub{
  font-size: 48px;
  margin-bottom: 0;
}

.App {
  /*text-align: center;*/
  background-color: #000;
  color: white;
  width: 100%;
  display: table;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.mutualism-logo{
  width: 10%;
}

.body-content{
  background: black;
  z-index: 2;
  position: absolute;
  width: 100%;
  margin: 20px 0;
}

.content{
  /*display: table-row;*/
  margin-top: 5%;
}

.container{

}

.header{
  margin: auto;
  width: 100%;
  text-align: center;
}

.mainbody{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.body-element{
}

.card{
  margin: 15px;
}

.card-header{
  text-align: center;
}

.form{

}

.form-element{
  width: 500px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 0px;
  outline: none;
  padding-left: 15px;
}

.submit-button{
  width: 514px;
  background: #46A16E;
  color: white;
  border: none;
}

.submit-button:hover{
  background: #fff;
  color: black;
  border: none;
}

.submit-button:active{
  background: black;
  color: white;
  border: none;
  outline: none;
}

.submit-button:focus{
  outline: none;
}

.errorMessage{
  color: red;
  border: 1px solid red;
  border-radius: 5px;
}

.successMessage{
  color: #46A16E;
  border: 1px solid #46A16E;
  border-radius: 5px;
}

.footer{
  display: block;
  position: fixed;
  bottom: -0;
  left: 0;
  z-index: 1;
}

.izandla{
  width: 35%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 35%;
}

.banner{
  width: 100%;
}



@media(min-height: 900px){
  .mainbody{
    margin-bottom: 2%;
  }
}

@media(min-width: 1440px) {
  .izandla{
    width: 40%;
  }
}

@media(max-width: 1024px){
  h1{
    font-size: 36px;
    color: #46A16E;
  }

  h2{
    font-size: 20px;
    font-weight: 400;
  }

  h3{
    font-size: 16px;
    font-weight: 100;
  }

  .sub{
    font-size: 30px;
  }

  .banner{
    display: none;
  }

  .izandla{
    width: 50%;
  }

  .form-element{
    width: 350px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;

  }

  .submit-button{
    width: 364px;
  }
}

@media(max-width: 900px){
  .mutualism-logo{
    width: 35%;
  }

  .mainbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
  }

  .form-element{
    width: 500px;
  }

  .submit-button{
    width: 514px;
  }
}

@media(max-width: 600px) {

  .mainbody{
    margin-left: 10px;
    margin-right: 10px;
  }

  .form-element{
    width: 315px;
  }

  .submit-button{
    width: 329px;
  }
}
